<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675562143044-lu72fj4466rgdnnqsn0il7o8d26341vb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675562143044-lu72fj4466rgdnnqsn0il7o8d26341vb</string>
	<key>API_KEY</key>
	<string>AIzaSyA_8YVE5ePiCa243F4J-XK7jOGn7Gd60iw</string>
	<key>GCM_SENDER_ID</key>
	<string>675562143044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationNoties</string>
	<key>PROJECT_ID</key>
	<string>noties-bbcc6</string>
	<key>STORAGE_BUCKET</key>
	<string>noties-bbcc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675562143044:ios:30b849b6c69b2647dd2b11</string>
</dict>
</plist>